

body {
    min-width: 900px; /*Says that the every div has at least to be 200px width*/

    background: url("Images/Backgroundv2.png")center no-repeat;
    background-color: grey;
    min-width: 900px; /*Says that the every div has at least to be 200px width*/
    background-size: 100% 185%;

}
#header {
    background: url("Images/header.png") no-repeat;
    background-size: 100%;
    border:1px solid black;
    height:75px;

}

#logoHolder {
    margin-left:165px;
    float:left;
}
#logoHolder > p{
    font-size:250%;
    /*text-shadow: -.01px 0 black, 0 .01px black, .01px 0 black, 0 -.01px black;*/
    font-weight: bold;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.rainbow {
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  background-clip: text;
}



ul {
    float:right;
    position:absolute;
    list-style-type: none;
    padding: 0;
    background-color: transparent;
    right:0px;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    font-weight: bold;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size:150%;
    text-align: center;
    vertical-align: bottom;

    padding: 14px 16px;
    padding-bottom: 0px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(255, 255, 255, .1);
}




#section {
    height:80%;
    width: 80%;

    min-width: 900px; /*Says that the every div has at least to be 200px width*/
    min-height: 200px; /*Says that the every div has at least to be 200px height*/

    padding:15px; 
    margin:0 auto;
    /*border:thin solid black;*/
}
#locationSelectorContainer {
    height:20px;
    width: 80%;

    min-width: 900px; /*Says that the every div has at least to be 200px width*/

    margin:0 auto;
    /*border:thin solid black;*/
}
#locationSelector{
    height:100%;
    /*width: 300px;*/
    /*border:thin solid black;*/
}
.boxContainer{
    font-weight: bold;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size:130%;
    text-align: center;
    /*border:thin solid black;*/
    margin-left:100px;
    margin-right:100px;
    width:250px;
    height:250px;
    margin:0;
}
#boxContainer1 {
    float:left;
}
#boxContainer2{
    
    position:relative;
    margin: 0 auto;
    width:350px;
    height:300px;
}
#boxContainer3 {

    float:right;
}
.displayImage{
    border-radius: 10px;
    /*background-color:#fc3cf4;/*:#2AC3F2;*/   
    border:1px solid black;
    height:180px;
    width: 180px;
    margin:0 auto;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
}

#displayImage{
    float:right;

    margin-right:5%;

}
#displayImage img {
    flex-shrink:0;
    min-width:100%;
    min-height:100%

}
#displayText {
    border-radius: 10px;
    /*border:1px solid black;*/

    /*background-color:#fc3cf4;/*:#2AC3F2;*/   
    width:35%;
    height:70%;
    margin-top: 10%;
    margin-left:5%;
    /*vertical-align: center;*/
    float:left;
}
.box{
    /*background-color:#fc3cf4;/*:#2AC3F2;*/   

    margin-right:5%;
    /*float:right;*/
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
    font-size:90%;
    text-align: center;
    border-radius: 10px;
    background-color:#ffffcc;/*:#2AC3F2;*/    
    /*border:1px solid black;*/
    height:90%;
    width: 100%;
}
#box1{
    background: url("Images/pane1.jpg") no-repeat;
    background-size: 100% 100%;
}
#box3{
    background: url("Images/pane3.jpg") no-repeat;
    background-size: 100% 100%;
}
#mainBox{
    background: url("Images/pane2.jpg") no-repeat;
    background-size: 100% 100%;
}
.timeBox {
    /*border:1px solid black;*/
    width: 50px;
    height:50px;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
    background-size: 100%;

}
#morningBox {
    float:left;
    background-image: url("Images/bedIcon_day.png");
}
#nightBox {
    float:right;
    background-image: url("Images/bedIcon_night.png");

}
.tempBox{
    position: relative;
    width: 60px;
    height:40px;
    border:1px solid black;
    /*overflow: visible;*/
    /*top:100px;*/
    /*left: 200px;*/
    z-index: 100;
    /*-webkit-transform-origin: 20% 40%;*/
}

.sliderDisplay .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

.sliderDisplay:hover .tooltiptext {
    visibility: visible;
}



